/* Body 컴포넌트 전체 적용 디자인 */
/* 모바일 버전(화면 너비 600px 이하)에만 추가로 적용되는 css */
@media only screen and (max-width: 600px) {
    /* 프로필 사진 컴포넌트와 자기소개 컴포넌트를 세로로 배치합니다 */
    .profileWrapper {
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }
}
/* Body 컴포넌트 전체 */
.bodyWrapper {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}
/* 프로필 사진 + 자기소개(이름, 한줄소개 4가지) 컴포넌트 */
.profileWrapper {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    align-items: center;
}
/* 프로필 사진(직사각형Xx 정사각형 이미지 사용했습니다) */
.profile {
    /* 너비 */
    width: 200px;
    /* 테두리 선 */
    border: 3px solid;
    /* 둥글게 */
    border-radius: 100px;
    /* 배경색 레몬쉬폰색 */
    background-color: lemonchiffon;
}

/* 경험 소개 이하 컴포넌트 */
.intro span::before {
    content: "✦";
    margin-right: 5px;
}
.intro span {
    display: block;
    margin-left: 30px;
}
.intro a {
    text-decoration: underline;
}
.intro h3 {
    margin-top: 15px;
}

/* 작업물 소개 이하 컴포넌트 */
.portfolio {
    display: flex;
    gap: 12px;
}
.portfolio > li {
    display: inline-block;
    /* 아래 마우스오버 효과가 해제될 때도 부드럽게 해제 */
    transition-duration: 0.3s;
}
/* 마우스오버 시 살짝 커지는 효과 */
.portfolio > li:hover {
    transform: scale(1.05);
    /* 동작이 조금 부드러워짐 */
    transition-duration: 0.3s;
}
/* 작업물 소개 미리보기 이미지 */
/* 원래는 약2000px로 매우 큰 사진이지만, 홈페이지에 알맞게 조정 */
.portfolio img {
    width: 100%;
}
.portfolio a:hover {
    color: inherit;
    background-color: transparent;
}
.portfolio span {
    /* 작업물의 한줄소개와 #React 태그가 '각자' 한 줄씩 사용하도록 적용 */
    display: block;
}
