/* Footer 컴포넌트 전체 적용 디자인 */
p {
    text-align: center;
    font-size: small;
}
/* !important를 붙이면 상위 css가 있더라도 이것이 최우선으로 적용됩니다*/
/* 너무 남용하진 마세용 꼬이면 머리아픕니다 */
a {
    text-decoration: underline !important;
}
